<header class="site-header">

  <div class="row">

    <div class="small-12 columns">
        <div class="right">
            <ul class="social">
                <li>
                    <a href="http://twitter.com/{{site.twitter_username}}">Twitter</a>
                </li>
                <li>
                    <a href="http://codepen.io/{{site.codepen_username}}">CodePen</a>
                </li>
                <li>
                    <a href="http://dribbble.com/{{site.dribbble_username}}">Dribbble</a>
                </li>
                <li>
                    <a href="http://github.com/{{site.github_username}}">Github</a>
                </li>            </ul>
        </div>
    </div>

  </div>

</header>
