@charset "utf-8";

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Width of the content area
$small: 26.5625em; //416px
$medium: 48em; //760px
$large: 64.063em; //1025px



// Colors
$white: #FFFFFF;
$black: #423F41;
$off-white: #F7F7F7;
$grey: #999999;
$dark-grey: #666666;

$yellow: #FEFDED;


// Type
//

@mixin gp-r {
    font-family: "adobe-garamond-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin gp-i {
    font-family: "adobe-garamond-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
}

@mixin e-l {
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin e-r {
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin e-i {
    font-family: "europa",sans-serif;
    font-style: italic;
    font-weight: 400;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "partials/pivotl";


body {
    @include gp-r;
    background-color: $black;
}

a {
    color: $grey;
    &:hover {
        color: $off-white;
    }
}

picture {
    img {
        width: 100%;
    }
}

.right {
    float: right;
}

.social {
    li {
        display: inline-block;
        margin-left: em(8px, 18px);
        font-size: em(18px)
    }
}



@media only screen {

    h1 {
        @include e-l;
        font-size: em(36px);
        color: $yellow;
    }

    section {
        margin-bottom: em(64px);
        &:last-child {
            margin-bottom: 0;
        }
    }

    .screens {
        .row {
            margin-bottom: em(32px);
        }
    }

    .meteor {
        position: relative;
        height: em(320px);

        img {
            position: absolute;
            top: -32px;
            left: -84px;
            height: em(318px);
            transform: rotate(90deg);
        }
    }

    //body
    //____
    .image-setup {
        position: relative;
        .screen-text {
            position: absolute;
            top: 0;
            left: 0;
            padding: 32px;
            color: $white;
        }
        .title {
            @include e-r;
            font-size: em(32px);
        }
        .subtitle {
            font-size: em(24px);
        }
    }

}

@media only screen and (min-width: $small) {

    $gutterleft: 32px;
    $gutterright: 32px;
    .column,
    .columns {
        padding-left: $gutterleft;
        padding-right: $gutterright;
    }
}

@media only screen and (min-width: $medium) {

    h1 {
        font-size: em(64px);
    }

    section {
        margin-bottom: em(156px);
    }

    .meteor {
        height: initial;
        text-align: center;
        margin-top: em(156px);
        margin-bottom: em(156px);
        img {
            position: static;
            height: initial;
            transform: rotate(0deg);
        }
    }
}

@media only screen and (min-width: $large) {

    h1 {
        font-size: em(80px);
    }

    section {
        margin-bottom: em(242px);
    }

    .meteor {
        margin-top: em(242px);
        margin-bottom: em(242px);
    }



}
