<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="include-medium exclude-small">
        {% include social.html %}
    </div>

    <section>
        <div class="meteor">
            <img src="assets/images/svg/meteor.svg" alt="meteor">
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h1>
                    I’m Sean Duncan, I help solve problems with web technologies. I’m currently working at Nutrislice, in Boulder, CO, on their Digital Signage and Meal Planner products.
                    <a href="/about">More<span class="arrow">&#8594;</span></a>
                </h1>
            </div>
        </div>
    </section>

    {{content}}

    <div class="exclude-medium">
        {% include social.html %}
    </div>

    {% include footer.html %}

  </body>

</html>
