<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="include-medium exclude-small">
        {% include social.html %}
    </div>

    <div class="meteor">
        <img src="assets/images/svg/meteor.svg" alt="meteor">
    </div>

    <section>

        <div class="row">
            <div class="small-12 columns">
                <h1>
                    I’m Sean Duncan, I use web technologies to solve complex problems. I’m currently working at Nutrislice, in Boulder, CO.
                    <a href="/about">More<span class="arrow">&#8594;</span></a>
                </h1>
            </div>
        </div>
    </section>

    {{content}}

    <div class="exclude-medium footer-padding">
        {% include social.html %}
    </div>

    {% include footer.html %}

  </body>

</html>
