<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include social.html %}

    <section>
        <div class="meteor">
            <img src="assets/images/svg/meteor.svg" alt="meteor">
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h1>
                    I’m Sean Duncan, I help solve problems with web technologies. I’m currently working at Nutrislice, in Boulder, CO, on their Digital Signage and Meal Planner products.
                    <a href="/more">More</a>
                </h1>
            </div>
        </div>
    </section>

    <section class="screens">
        <div class="row">
            <div class="small-12 columns">
                <div class="image-setup">
                    <picture>
                        <source srcset="assets/images/n-sa-lg.png, assets/images/n-sa-lg@2x.png 2x" media="(min-width: 64.063em)">
                        <source srcset="assets/images/n-sa-md.png, assets/images/n-sa-md@2x.png 2x" media="(min-width: 48em)">
                        <img srcset="assets/images/n-sa-sm.png, assets/images/n-sa-sm@2x.png 2x" alt="Nutrislice Super Admin">
                    </picture>
                    <div class="screen-text">
                        <h3 class="title">Nutrislice Super Admin</h3>
                        <p class="subtitle">Great place to administrate school stuff.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <div class="image-setup">
                    <picture>
                        <source srcset="assets/images/n-ds-lg.png, assets/images/n-ds-lg@2x.png 2x" media="(min-width: 64.063em)">
                        <source srcset="assets/images/n-ds-md.png, assets/images/n-ds-md@2x.png 2x" media="(min-width: 48em)">
                        <img srcset="assets/images/n-ds-sm.png, assets/images/n-ds-sm@2x.png 2x" alt="Nutrislice Super Admin">
                    </picture>
                    <div class="screen-text">
                        <h3 class="title">Nutrislice Digital Signage</h3>
                        <p class="subtitle">Nation's leading school signage player.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <div class="image-setup">
                    <picture>
                        <source srcset="assets/images/n-mp-lg.png, assets/images/n-mp-lg@2x.png 2x" media="(min-width: 64.063em)">
                        <source srcset="assets/images/n-mp-md.png, assets/images/n-mp-md@2x.png 2x" media="(min-width: 48em)">
                        <img srcset="assets/images/n-mp-sm.png, assets/images/n-mp-sm@2x.png 2x" alt="Nutrislice Super Admin">
                    </picture>
                    <div class="screen-text">
                        <h3 class="title">Nutrislice Mealplanner</h3>
                        <p class="subtitle">Nation's leading school signage player.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <div class="image-setup">
                    <picture>
                        <source srcset="assets/images/n-www-lg.png, assets/images/n-www-lg@2x.png 2x" media="(min-width: 64.063em)">
                        <source srcset="assets/images/n-www-md.png, assets/images/n-www-md@2x.png 2x" media="(min-width: 48em)">
                        <img srcset="assets/images/n-www-sm.png, assets/images/n-www-sm@2x.png 2x" alt="Nutrislice Super Admin">
                    </picture>
                    <div class="screen-text">
                        <h3 class="title">Nutrislice Website</h3>
                        <p class="subtitle">Nation's leading school signage player.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include footer.html %}

  </body>

</html>
